// Ipad pro 
// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .HeroSectoin .MianNavbar .navbar-brand {
    
        height: 40px;
    }
    .contactUs .innercontact{
        flex-wrap: wrap;
        gap: 30px;
    }
    .contactUs .innercontact .contactContent {
        width: 100%;
    }
    .contactUs .innercontact .contactBG {
        width: 100%}
    .FAQsec{
        background-color: #000 !important;
        h2{
            color: #fff !important;
        }
        .accordion-button{
color: #fff !important;
        }
    }
    .HeroSectoin .MianNavbar .subNvabr {
        max-width: 85% !important;
    }

    .HeroSectoin h1 {
        font-size: 60px;
    }

    .HeroSectoin .InnerBtn {
        margin-top: 45px;
    }

    .getBtn {
        max-width: 140px;
    }

    .HeroSectoin p {
        font-size: 22px;
        margin-top: 20px;
    }

    .VerstileSec h2 {
        font-size: 40px;
    }

    .VerstileSec p {
        font-size: 32px;
    }

    .VerstileSec .Innervlog .VlogItem h3 {
        font-size: 32px;
    }

    .VerstileSec .Innervlog {
        margin-top: 30px;
        padding-bottom: 25px;
    }

    .inspireSec .InnerInspire .InspireBox h3 {
        font-size: 51px;
    }

    .WellComWrapper h2 {
        color: #fff;
        font-size: 150px;
    }

    .rocks-wrapper .waves-video {
        z-index: -1;
        height: auto;
        position: relative;
    }

    .Fanssec h2 {
        color: #fff;
        font-size: 135px;
    }

    .WellComWrapper h3 {
        font-size: 150px;
    }

    .Fanssec span {
        color: #fff;
        font-size: 135px;
    }

    .Fanssec h3 {
        color: #fff;
        font-size: 135px;
    }

    .FooterSec h1 {
        font-size: 135px;
        margin-bottom: 25px;
    }
}

//  ipad 

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .BookBtn {
        font-size: 15px;
        padding: 5px 16px;
    }
    .HeroSectoin .MianNavbar .subNvabr {
        max-width: 80% !important;
    }
    .FAQsec .Accodion50 {
        width: 100%;
    }
    
    .FAQsec .InnerAccordion {
        
        flex-wrap: wrap;
    }
    
    .InnerSubmit{
        margin-bottom: 20px;
    }
    .HeroSectoin .MianNavbar .navbar {
        height: 40px;
    }

    .navbar-toggler {
        i {
            color: #fff;
        }
    }



    .HeroSectoin .MianNavbar .navbar-nav .nav-link {
        text-align: start !important;
    }

    .HeroSectoin .MianNavbar .navbar-nav {
        align-items: start !important;
        max-width: 100%;

    }

    .navbar-collapse {
        position: fixed;
        width: 100%;
        left: -780px;
        top: -25px;
        gap: 20px;
        z-index: 999;
        padding: 30px 20px;
        transition: all 0.6s;
        height: 100vh !important;
        display: flex;
        align-items: start;
        flex-direction: column;
        background-color: #000;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

        &.show {
            left: -78px !important;
            overflow-y: auto;
        }
    }

    .HeroSectoin h1 {
        font-size: 40px;
        max-width: 500px;
        margin: auto;
    }

    .HeroSectoin {
        padding: 150px 0px;
    }

    .HeroSectoin p {
        font-size: 20px;
    }

    .VerstileSec h2 {
        font-size: 36px;
    }

    .VerstileSec p {
        font-size: 28px;
    }

    .getBtn {
        max-width: 120px;
    }

    .VerstileSec .Innervlog .VlogItem .MoveBtn {
        max-width: 110px;
        height: 40px;
    }

    .VerstileSec .Innervlog .VlogItem h3 {
        font-size: 26px;
    }

    .inspireSec h2 {
        font-size: 36px;
    }

    .inspireSec .InnerInspire {
        margin-top: 55px;
    }

    .inspireSec .InnerInspire .InspireBox h3 {
        font-size: 40px;
    }

    .AwaitSec {
        padding: 30px 0px;
    }

    .AwaitSec h2 {
        font-size: 34px;
    }

    .AwaitSec p {
        font-size: 20px;
    }

    .AwaitSec .AwaitGift img {
        max-width: 60px;
        margin-bottom: 10px;
    }

    .AwaitSec .AwaitGift h3 {
        font-size: 26px;
    }

    .GiftImg h2 {
        font-size: 42px;
    }

    .GiftImg p {
        font-size: 20px;
    }

    .GiftImg .InnerGiftImg .GiftItem .giftImgbox {
        max-width: 70px;
    }

    .GiftImg .InnerGiftImg .GiftItem h3 {
        font-size: 20px;
    }

    .GiftImg .InnerGiftImg .GiftItem p {
        font-size: 16px;
    }

    .WellComWrapper h2 {
        font-size: 120px;
    }

    .WellComWrapper h3 {
        font-size: 120px;
    }

    .Fanssec h2 {
        font-size: 110px;
    }

    .Fanssec span {
        font-size: 110px;
    }

    .Fanssec h3 {
        font-size: 110px;
    }

    .FAQsec h2 {
        font-size: 46px;
    }

    .FAQsec {
        padding: 70px 0px;
        background-color: #000;
    }

    .TalkSection .InnerTalk {
        flex-wrap: wrap;
    }

    .TalkSection .contentTalk {
        width: 100%;
    }

    .TalkSection h2 {
        font-size: 42px;
        margin-bottom: 20px;
    }

    .TalkSection p {
        font-size: 18px;
    }

    .TalkSection .RequestBtn {
        max-width: 150px;
        height: 45px;
    }

    .TalkSection {
        padding: 50px 0px;
    }

    .FooterSec h1 {
        font-size: 100px;
    }

    .FooterSec .itemFooter.With30 {
        width: calc(50% - 15px);
    }

    .FooterSec .InnerFooter {
        flex-wrap: wrap;
    }

    .inspireSec .InnerInspire {
        width: 80%;
    }

    .HeroSectoin .musicImg {
        width: 70px;
    }

}

//  mobile 
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .rocks-wrapper .waves-video {
      
        height: 300px;
       
    }
    .navbar-collapse.show {
        left: -40px !important;
       
    }
    .TalkSection .contentTalk .InnerTalksInput {
        margin-top: 20px;
        margin-bottom: 20px;
    gap: 15px;
    }
    .contactUs {
        padding: 120px 0px 0px 0px;
    }
    
    
    .contactUs .innercontact .contactBG .InnerField {
        
        flex-wrap: wrap;
    }
    .contactUs .innercontact .contactContent h2 {
   
        font-size: 52px;
       
    }
    .contactUs .innercontact .contactBG {
        
        padding: 81px 30px;
       

    }
    .contactUs .innercontact .contactContent ul {
        margin-top: 20px;
      
        margin-bottom: 0px;
       
       
    }
    .HeroSectoin::before {
        width: 100px;
        filter: blur(40px);
        height: 100px;
    }
    .BookBtn {
        display: inline-block;
        padding: 5px 10px;
    font-size: 14px;
    }    
    .HeroSectoin::after {
        filter: blur(40px);
        width: 76px;
        height: 70px;
        top: 135px;
        
    }
    .HeroSectoin {
        padding: 150px 0px;
    }
    .HeroSectoin .SocailIconInner {
        top: 31%;
        left: 20px;
        transition: all 0.8s ease-in-out;
    }
    .HeroSectoin .InnerBtn {
        margin-top: 30px;
        flex-direction: column;
        gap: 20px;
    }

    .HeroSectoin p {
        font-size: 16px;
        margin-top: 14px;
        max-width: 326px;
    }
    .HeroSectoin h1 {
        max-width: 370px;
        font-size: 32px;
    }
    
    .container {
        max-width: 95% !important;
        width: 100% !important;
        height: 100% !important;
    }

    .HeroSectoin .postImg {
        width: 70px;
        right: 11%;
    }

    .HeroSectoin .reboteIMG {
        width: 130px;
        opacity: 0.5;
    }

    .VerstileSec .Innervlog .VlogItem .MoveBtn {
        max-width: 86px;
        height: 30px;
    }

    .VerstileSec .Innervlog .VlogItem .MoveBtn svg {
        transform: rotate(-60deg);
        width: 28px;
    }

    .VerstileSec .Innervlog .VlogItem p {
        font-size: 12px;
    }

    .VerstileSec .Innervlog .VlogItem h3 {
        font-size: 22px;
    }

    .VerstileSec h2 {
        font-size: 32px;
    }

    .VerstileSec {
        padding: 50px 0px;
    }
    .inspireSec {
        padding: 30px 0px;
    }
    .VerstileSec p {
        font-size: 17px;
        margin-top: 20px;
    }
    .Pricing {
        padding: 40px 0px 80px 0px;
    }
    .VerstileSec .Innervlog:hover {
        right: 0px;
    }

    .inspireSec .InnerInspire {
        width: 100%;
    }

    .inspireSec h2 {
        padding-left: 0px;
    }

    .inspireSec p {
        padding-left: 0px;
    }

    .inspireSec .InnerInspire .InspireItem {
        width: calc(50% - 10px);
        margin-bottom: 40px;
    }

    .AwaitSec .container {
        max-width: 100% !important;
    }

    .AwaitSec .AwaitContentBox {
        width: 100%;
    }

    .AwaitSec .AwaitGift {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px 0px;

    }

    .AwaitSec .AwaitGift p {
        font-size: 16px;
        margin-bottom: 20px;
        max-width: 100%;
        width: 100%;
    }

    .GiftImg .InnerGiftImg .GiftItem {
        width: 100%;
        text-align: center;
    }

    .WellComWrapper h2 {
        font-size: 75px;
    }

    .WellComWrapper h3 {
        font-size: 75px;
    }

    .Fanssec h2 {
        font-size: 65px;
    }

    .Fanssec span {
        font-size: 65px;
    }

    .Fanssec h3 {
        font-size: 65px;
    }

    .FAQsec h2 {
        font-size: 30px;
    }

    .TalkSection h2 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .TalkSection p {
        font-size: 14px;
    }

    .TalkSection .RequestBtn {
        max-width: 125px;
        height: 35px;
        font-size: 16px;
    }

    .FooterSec h1 {
        font-size: 75px;
    }

    .FooterSec .itemFooter.With30 {
        width: 100%;
    }

    .FooterSec .itemFooter {
        width: 100%;
    }

    .FooterSec .InnerFooter {
        gap: 30px 0px;
    }

    .navbar-toggler.CrossIcon {
        position: absolute;
        right: 0px;
        margin-right: 20px;
    }

}