.HeroSectoin {
    background-color: #000;
    padding: 200px 0px;
    position: relative;

    .MianNavbar {
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 999;
        top: 0;

        .navbar {
            height: 49px;
            padding: 0px;
        }

        .navbar-brand {
            padding: 0px;
            margin: 0px;

            svg {
                width: 32px;
                color: #fff;
            }

            span {
                color: #fff;
                font-size: 15px;
                line-height: 1.2;
                font-weight: 700;
            }
        }

        .navbar-nav {
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 500px;
            width: 100%;

            .nav-item {

                &:hover {
                    .nav-link {
                        background-color: #fff;
                        color: #000;
                    }
                }
            }

            .nav-link {
                padding: 10px;
                border-radius: 20px;
                color: #fff;
                font-size: 15px;
                line-height: 1;
                font-weight: 700;
            }
        }

        .subNvabr {
            max-width: 70% !important;
            background-color: rgba(0, 0, 0, 0.4);
            /* semi-transparent black */
            backdrop-filter: blur(10px);
            /* blur effect */
            border-radius: 50px;
            margin-top: 25px;
            padding: 5px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    h1 {
        color: #fff;
        font-size: 98px;
        font-weight: 700;
        text-align: center;

        span {
            font-style: italic;
            font-weight: 400;
            font-family: 'wfont_90111e_0e90aa67e703460abd61925340b184c6,wf_0e90aa67e703460abd6192534,orig_instrument_serif_regular';

        }
    }


    .musicImg {
        position: absolute;
        top: 16%;
        left: 0%;
        transform: translate(50%, 50%);

        img {
            border-radius: 20px;
            transform: rotate(-25deg);
        }

        &::before {
            content: "";
            top: 0px;
            left: 0px;
            position: absolute;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            width: 100%;
            height: 100%;
            transform: rotate(155deg);
            z-index: 1;
        }
    }

    .postImg {
        position: absolute;
        top: 17%;
        right: 9%;
        transform: translate(50%, 50%);

        img {
            border-radius: 20px;
            transform: rotate(25deg);
        }
    }

    p {

        color: #ABBBCF;
        font-size: 24px;
        max-width: 490px;
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .InnerBtn {
        gap: 0px 10px;
        margin-top: 60px;
    }

    .reboteIMG {
        position: absolute;
        left: 20px;
        bottom: 0px;
        opacity: 0.5;

        img {
            border-radius: 30px;
        }

        &:last-of-type {
            right: 20px;
            left: auto;
        }
    }
}

.getBtn {
    max-width: 151px;
    width: 100%;
    height: 42px;

    background-color: #fff;
    color: #000;
    border-radius: 300px;
    border: 1px solid #fff;
    transition: all 0.4s ease-in-out;

    &:hover {
        background-color: unset;
        color: #fff;
    }

    &:last-of-type {
        color: #fff;
        border: 1px solid #fff;
        background-color: unset;

        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}

.BookBtn {
    display: inline-block;
    padding: 10px 25px;
    background: repeat padding-box border-box 61% 50% / 150% 150% scroll radial-gradient(circle at 0% 0%, #1d2cf3 0%, #1d2cf3 45%, #FFFFFF 100%);
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    /* fully rounded */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* subtle shadow */
    transition: all 0.3s ease;
}

.BookBtn:hover {
    background: repeat padding-box border-box 0% / auto scroll radial-gradient(circle at 0% 0%, #FFFFFF 0%, #1d2cf3 55%, #1d2cf3 100%);

}

// FAQsec start
.FAQsec {
    padding: 100px 0px;
    background-color: #000;

    h2 {
        color: #fff;
        font-size: 51px;
        line-height: 1.2;
        font-weight: 500;
        text-align: center;
        margin-bottom: 40px;
    }

    .accordion {
        max-width: 700px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .accordion-header {
        margin-bottom: 0px;
    }

    .accordion-button.collapsed {

        i {
            transform: rotate(0deg);
        }
    }

    .accordion-button {
        color: #fff;
        font-size: 17px;
        line-height: 1.2;
        font-weight: 500;

        &::after {
            display: none;
        }

        i {
            transform: rotate(180deg);
        }
    }

    .accordion-body {

        color: #fff;
        padding: 10px 20px 60px 20px;

    }
}

// FAQsec end

// Gift img start

// Gift img end
.GiftImg {
    background-color: #000;
    padding: 60px 0px;

    h2 {
        font-size: 51px;
        color: #fff;
        line-height: 1.2;
        text-align: center;

        span {
            color: #fff;
            font-style: italic;
            font-weight: 400;
            letter-spacing: -0.03em;
        }
    }

    p {
        color: #999999;
        line-height: 1.2;
        font-size: 24px;
        font-weight: 500;
        max-width: 580px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        text-align: center;

    }

    .InnerGiftImg {
        flex-wrap: wrap;
        gap: 40px 0px;
        margin-top: 80px;
        .GiftItem {
            width: calc(33.33% - 15px);
            text-align: center;
           

            .giftImgbox {
                max-width: 85px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            h3 {
                color: #fff;
                font-size: 24px;
                line-height: 1.2;
                font-weight: 500;

            }

            p {
                margin-top: 0px;
                font-size: 20px;
                font-weight: 400;
                margin-top: 10px;
            }
        }
    }
}

//FOOTER START
.FooterSec {
    background-color: #000;
    padding: 40px 0px;

    .InnerFooter {
        align-items: start !important;
        margin-bottom: 50px;
    }

    h1 {
        font-size: 200px;
        font-weight: 700;
        text-align: center;
        color: #fff;
        margin-bottom: 10px;
    }

    .itemFooter.With30 {
        width: calc(30% - 15px);
    }

    .itemFooter {
        width: calc(20% - 15px);

        h3 {
            color: #fff;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 700;
            margin-bottom: 20px;
        }

        p {
            color: #fff;
        }

        .footerlink {
            color: #D4D1D3;
            font-size: 16px;
            text-decoration: none;
            text-align: left;
            line-height: 1.6;
        }

        .InnerIcon {
            display: flex;
            align-items: center;
            gap: 8px;

        }
    }

    .InnerCopyRight {
        flex-wrap: wrap;

        span {
            color: #fff;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 400;
        }
    }
}

// FOOTER END